<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>

	<!-- seo -->
    {{ seo_pro:meta }}

	<!-- base settings -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <base href="{{ site:url }}" />

	<!-- css -->
	<link rel="preload" as="style" href="{{ vite:asset src="resources/css/site.scss" }}" />
	<link href="{{ vite:asset src="resources/css/site.scss" }}" rel="stylesheet" type="text/css" media="screen" />

    {{# anything else that should only be in production #}}
	{{ if environment == 'production' }}
	{{ /if }}

</head>
<body>

    {{ template_content }}

	{{# anything else that should only be on staging #}}
	{{ if environment != 'production' }}

    {{ /if }}

	<!-- footer scripts -->
	<script type="module" src="{{ vite:asset src="resources/js/site.js" }}"></script>

</body>
</html>
