<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>

	<!-- seo -->
    {{ seo_pro:meta }}
		
	<!-- base settings -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <base href="{{ site:url }}" />
	
	<!-- css -->
	
	{{# anything else that should only be in production #}}
	{{ if environment == 'production' }}
	{{ /if }}
	
</head>
<body>
		
    {{ template_content }}

	{{# anything else that should only be on staging #}}
	{{ if environment != 'production' }}

    {{ /if }}

	<!-- footer scripts -->
	
</body>
</html>