<section class="map">

    <div class="wrap">
        <div class="map-container relative h-screen" x-data='googleMap(
        {
            apiKey: "{{ config:services:google-maps:key }}",
            mapId: "{{ config:services:google-maps:map_id }}",
            shouldCluster: false,
            zoomControl: true,
        },
        [
            {{ contact:addresses }}
                {{ if latitude && longitude }}
                    {
                        lat: {{ latitude }},
                        lng: {{ longitude }},
                        image: "/assets/images/icons/gold-filled-marker.svg",
                        scale: 1,
                    },
                {{ /if }}
            {{ /contact:addresses }}
        ])'>

            <template x-if="! consentGiven">
                <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-full max-w-[80vw] text-center leading-[1.5625] pl-[10px] pr-[29px] lg:pl-[67px] lg:pr-[88px] xxl:pr-[11.667vw] xxl:pl-[4.653vw] lg:text-[1.375rem] lg:leading-1.3 lg:max-w-[800px]">
                    <p>Please <a href="#" onclick="ConsentPanel.open(); return false;"> consent to third party cookies</a> in order to view map content.</p>
                </div>
            </template>
            <template x-if="consentGiven">
                    <figure class="map-display block w-full h-screen"></figure>
            </template>

        </div>

    </div>

</section>
