<div class="map-container" x-data='googleMap(
{
    apiKey: "{{ config:services:google-maps:key }}",
    mapId: "{{ config:services:google-maps:map_id }}",
    shouldCluster: false,
    zoomControl: true,
},
[
    {{ locations }}
        {{ if latitude && longitude }}
            {
                lat: {{ latitude }},
                lng: {{ longitude }},
                image: "",
                scale: 1,
            },
        {{ /if }}
    {{ /locations }}
]
)'
@selected-location-updated.window="
    locations = $event.detail.locations.map((location) => {
        return {
            lat: location.lat,
            lng: location.lng,
            markerHTML: `
                MARKER HTML HERE
            `,
            scale: 1,
            onClick: function (marker) {
                location.href = $el.href;
            },
        };
    });

    updateLocations(locations);
">


    <template x-if="! consentGiven">
        <div class="">
            <p>Please <a href="#" onclick="ConsentPanel.open(); return false;"> consent to third party cookies</a> in order to view map content.</p>
        </div>
    </template>
    <template x-if="consentGiven">
            <figure class="map-display"></figure>
    </template>

</div>
