<div class="input textarea mb-4">
	
	<textarea
		x-data 
		x-grow
		x-model="form.{{ handle }}"
		{{ if old }}x-init="form.{{ handle }} = '{{ old | sanitize }}'" {{ /if }}
		{{ if ! old && value }}x-init="form.{{ handle }} = '{{ value | sanitize }}'" {{ /if }}
		@change="form.validate('{{ handle }}')"
		:aria-invalid="form.invalid('{{ handle }}')"
		class="bg-[rgba(77,172,233,0.2)] min-h-[191px] pt-8 pb-8 w-full pl-6 pr-[6px] rounded-[30px] resize-none text-sm placeholder:text-black lg:text-base lg:leading-[1.125]"
		id="{{ handle }}"
		name="{{ handle }}"
		rows="5"
		{{ placeholder ?= 'placeholder="{placeholder}"' }}
		{{ instructions_position == 'below' ?= 'aria-describedBy="{handle}-instructions"' }}
		{{ character_limit ?= 'maxlength="{character_limit}"' }}
	>
	</textarea>
	<span class="error-message" x-show="form.invalid('{{ handle }}')" x-text="form.errors.{{ handle }}"></span>
	
</div> 