
	{{ if instructions && instructions_position == 'below' }}
	<p class="form-instructions-below" id="fld-{{ handle | replace('.', '-') }}-instructions">{{ instructions }}</p>
	{{ /if }}

    {{ if driver == 'precognition' }}
    <span class="error-message" x-show="form.invalid('{{ handle }}')" x-text="form.errors.{{ handle }}"></span>
    {{ elseif driver == 'livewire' }}
    	{{? $error = Arr::get($errors, $model_prefix.$handle, []) ?}}
		{{ if (error | count) }}
	<span class="error-message">{{ error | join('<br />') }}</span>
		{{ /if }}
    {{ /if }}
