<div class="input textarea">

    {{ partial src="_partials/forms/fields/_label_above_instructions" }}

	<textarea
        id="fld-{{ handle }}"
        name="{{ handle | replace('.', '-') }}"
        {{ if instructions }} aria-describedBy="fld-{{ handle }}-instructions" {{ /if }}
        {{ if placeholder }} placeholder="{{ placeholder }}{{ if validate|contains:required }} *{{ /if }}"{{ /if }}
        {{ if character_limit }} maxlength="{{ character_limit }}"{{ /if }}
        {{ if driver == 'precognition' }}
            :aria-invalid="form.invalid('{{ handle }}')"
		    x-model="form.{{ handle }}"
            x-init="form.{{ handle }} = '{{ (old ?? value) | sanitize }}'"
	  	    @change="form.validate('{{ handle }}')"
        {{ elseif driver == 'livewire' }}
            wire:model.blur="{{ model_prefix }}{{ handle }}"
        {{ else }}
            {{ if (validate | contains('required')) }} required{{ /if }}
        {{ /if }}
    >{{ old }}</textarea>

    {{ partial src="_partials/forms/fields/_errors_below_instructions" }}

</div>
